<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Proyecto </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainB.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">Skynova</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/teamesES">Equipo</a></li>
						<li class="hov"><a>Más información</a>
							<ul>
								<li><a href="/informationES">Informations</a></li>
								<li><a href="/modelsES">Modelos</a></li>
							</ul>
						</li>						
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/benefitsPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polaco</a></li>
								<li><a href="/benefits"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> INGLÉS</a></li>
								<li><a href="#"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Español</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>¿Cuáles son las ventajas del proyecto SkyNova?</h2>
						</header>
					</div>
					<a href="#one" class="goto-next scrolly">Siguiente</a>
				</section>

                <!-- Two -->
				<section id="one" class="spotlight style2 right">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/PoliceD') }}" alt="Police drones" /></span>
					<div class="content">
						<header>
							<h2>Más rápido</h2>
						</header>
						<h3>Una de las ventajas de utilizar esta aplicación sería la mayor rapidez de reacción de las agetas públicas y el acortamiento del tiempo desde la obtención de un informe hasta la llegada de los primeros auxilios.</h3>						
					</div>					
					<a href="#two" class="goto-next scrolly">Siguiente</a>
				</section>

			<!-- Three -->
				<section id="two" class="spotlight style3 left">					
					<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/ReconD') }}" alt=""/></span>
					<div class="content">
						<header>
							<h2>Seguridad</h2>
						</header>
						<h3>Conozca mejor la situación para evaluar mejor la urgencia de su informe </p>
							
							Servicio de asistencia 24/7 sin necesidad de gestión humana</h3>						
					</div>
					<a href="#footer" class="goto-next scrolly">Siguiente</a>
				</section>			

			
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>