<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Proyecto </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>		
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">Skynova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a href="/teamES">Equipo</a></li>
						<li class="hov"><a>Más información</a>
							<ul>
								<li><a href="/benefitsES">Beneficios</a></li>
								<li><a href="/informationES">Información</a></li>
								<li><a href="/modelsES">Modelos</a></li>
							</ul>
						</li>
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/indexPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polaco</a></li>
								<li><a href="/index"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> INGLÉS</a></li>
								<li><a href="#"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Español</a></li>
							</ul>
						  </li>
					</ul>
				</nav>
			</p>
			</header>
		</div>
		<!-- COOKIE -->

        <div id="cookie-window">
            <p>
                This website stores data such as cookies to enable site functionality including analytics and personalization. By using this website, you automatically accept that we use cookies. 
            </p>
            <div id="cookie-consent-container">
                <div id="cookie-container">
                    <button id="cookie-consent">I Consent</button>
                    <button id="cookie-rejection">Reject All</button>
                </div>
            </div>
        </div>
				<section id="banner">
					<div class="content">
						<header>
							<h2>SkyNova</h2>
							<p>DONDE LOS DRONES ENCUENTRAN SU HOGAR</p>
						</header>
						
					</div>
				</section>
			<!-- Four -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Globodain Technology Corporation</h2>
							<p>Globodain es una empresa tecnológica con sede en Sevilla, España. 
								Nos centramos principalmente en el desarrollo de tecnología digital 
								y colaboramos activamente en proyectos de la Unión Europea, 
								incluyendo el Programa de Movilidad Erasmus+. 
								Globodain se centra en realizar avances tecnológicos y crear un impacto positivo a través de la innovación y la colaboración.</p>
						</header>
					</div>
				</section>

			
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/cookies.js') }}"></script>

	</body>
</html>